body {
    padding: 0;
    margin: 0;
    background-image: url("/image\ \(6\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.head {
    text-align: center;
    color: white;
    background-color: rgb(44, 40, 40);
    border-radius: 19px;
    font-family: "Dancing Script", cursive;
    font-size: larger;
    position: sticky;
    top: 2px;
}

/* explore the dilicaies */
.headline {
    text-align: center;
    color: yellow;
    margin: 1px;
    font-family: "Dancing Script", cursive;
    font-size: x-large;
    background-color: rgba(125, 68, 12, 0.741);
    border-radius: 20px;
    padding: 12px 0px;
    font-weight: bolder;
}

.username {
    text-align: center;
    margin: 1px;
    font-size: larger;
    background-color: rgba(125, 68, 12, 0.433);
    border-radius: 10px;
    font-weight: bold;
    padding: 12px 0px;
}

.username p label input {
    padding: 2px 15px;
    margin-bottom: 12px;
}

.footers {
    font: bolder;
    margin: 200px 0px 0px 0px;
    padding: 5px;
    text-align: center;
    background-color: rgba(125, 68, 12, 0.433);
    /* border-radius: 20px; */
    color: black;
    display: block;
}

.footers p a {
    text-decoration: none;
}

.footers p a:hover {
    text-decoration: none;
    color: brown;
}

.button {
    background-color: #000000;
    /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

.connections {
    font-size: large;
    color: black;
}